@import '~vuetify/src/styles/tools/_functions.sass';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Russo+One&display=swap');

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.text--shadow {
  text-shadow: 0 0 5px #000;
}

.theme--dark.v-application {
  color: rgba(255, 255, 255, 0.7);

  h1, h2, h3, h4, h5, h6, strong, .font-weight-bold, .headline, .title {
    color: rgba(255, 255, 255, 0.87);
  }
}

.theme--light.v-application {
  background: #cfd8dc;
}

.v-alert__content p {
  margin-bottom: 0;
}

.v-card.blockquote-card {

  margin-bottom: 1em;

  p {
    margin-bottom: 0;
  }
}

.small-caps {
  font-variant: small-caps;
}

$tooltip-opacity: 1 !default;
$tooltip-background-color: #424242 !default;
$body-font-family: 'Open Sans', serif;
$heading-font-family: 'Russo One', sans-serif;

$headings: (
  'h1': (
    'text-transform': uppercase,
    'font-family': $heading-font-family
  ),
  'h2': (
    'text-transform': uppercase,
    'font-family': $heading-font-family
  ),
  'h3': (
    'text-transform': uppercase,
    'font-family': $heading-font-family
  ),
  'h4': (
    'text-transform': uppercase,
    'font-family': $heading-font-family
  ),
  'h5': (
    'text-transform': uppercase,
    'font-family': $heading-font-family
  ),
  'h6': (
    'text-transform': uppercase,
    'font-family': $heading-font-family
  )
);

/****************************
 * Colors
 */

$green: () !default;
$green: map-deep-merge(
    (
      'accent-4': #007900, // rarity: premium (light & dark theme)
    ),
    $green
);

$blue: () !default;
$blue: map-deep-merge(
    (
      'accent-4': #0000fd, // rarity: prototype (light theme)
    ),
    $blue
);

$purple: () !default;
$purple: map-deep-merge(
    (
      'darken-2': #800080, // rarity: advanced (light theme)
    ),
    $purple
);

$orange: () !default;
$orange: map-deep-merge(
    (
      'darken-3': #dd6b20, // rarity: legendary (light & dark theme)
    ),
    $orange
);

$red: () !default;
$red: map-deep-merge(
    (
      'accent-1': #ff0000, // rarity: artifact (light & dark theme)
    ),
    $red
);
